<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <form action="" method="post">
        <label for="New password">New  password</label>
        <input class="user-input" type="password" name="oldpassword"  required><br>
        
        <label for="new password">Confirm Password</label>
        <input class="user-input" type="password" name="newpassword"  required><br>

        <input class="btn" type="submit" name="submit" value="confirm">
    </form>


</body>
</html>