<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Employee HomePage</title>
<link rel="stylesheet" href="/abc/css/employee.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

 <!--wrapper start-->
<div class="wrapper">
<!--header menu start-->
<div class="header">
<div class="header-menu">
<div class="title">WinTeam <span>Tech</span></div>
<div class="sidebar-btn">
<i class="fas fa-bars"></i>
</div>
<ul>
<h1 style="color:white;">LogOut</h1>
<li><a href="/logout"><i class="fas fa-power-off"></i></a></li>
</ul>
</div>
</div>
<!--header menu end-->
<!--sidebar start-->
<div class="sidebar">
    <div class="sidebar-menu">
    <center class="profile">
    <img src="/abc/img/1.jpg" class="profile_image" alt="">
    <p> Welcome <%= name %></p> 
    <!-- user.username -->
    </center>
    <li class="item">
    <a href="/employee/profile" class="menu-btn">
    <i class="fas fa-user-tie"></i><span>My Profile</span>
    </a>
    </li>
    <li class="item" id="profile">
    <a href="#profile" class="menu-btn">
    <i class="fas fa-user-tag"></i><span>Employee <i class="fas fa-chevron-down drop-down"></i></span>
    </a>
    <div class="sub-menu">
    <a href="#"><i class="fas fa-list"></i><span>Employee List</span></a>
    <a href="#"><i class="far fa-money-bill-alt"></i><span>Salary</span></a>
    </div>
    </li>
    <li class="item" id="messages">
    <a href="#messages" class="menu-btn">
    <i class="fab fa-product-hunt"></i><span>Product <i class="fas fa-chevron-down drop-down"></i></span>
    </a>
    <div class="sub-menu">
    <a href="home/addproduct"><i class="fas fa-plus"></i><span>Add Product</span></a>
    <a href="#"><i class="fas fa-list"></i><span>Product list</span></a>
    </div>
    </li>
    <li class="item" id="settings">
    <a href="#settings" class="menu-btn">
    <i class="fas fa-user-friends"></i><span>Customer <i class="fas fa-chevron-down drop-down"></i></span>
    </a>
    <div class="sub-menu">
    <a href="#"><i class="fas fa-lock"></i><span>Customer list</span></a>
    <a href="#"><i class="far fa-flag"></i><span>Customer report</span></a>
    </div>
    </li>
    <li class="item">
    <a href="#" class="menu-btn">
    <i class="far fa-address-book"></i><span>Contact</span>
    </a>
    </li>
    </div>
</div>
<!--sidebar end-->
<!--main container start-->
<!-- <div id="form1">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">User Name*</label> 
                                <div class="col-8">
                                <input id="username" name="username" value="<%=  %>"class="form-control here" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">First Name</label> 
                                <div class="col-8">
                                <input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-4 col-form-label">Email*</label> 
                                <div class="col-8">
                                <input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Phone" class="col-4 col-form-label">Website</label> 
                                <div class="col-8">
                                <input id="website" name="phone" placeholder="phone" class="form-control here" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">New Password</label> 
                                <div class="col-8">
                                <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</div> -->
<!--main container end-->
</div>
<!--wrapper end-->

 <script type="text/javascript">
$(document).ready(function(){
$(".sidebar-btn").click(function(){
$(".wrapper").toggleClass("collapse");
});
});
</script>

 </body>
</html>